<style>
  .container {
    width: 800px;
    font-family: 'Arial';
    display: flex;
    align-items: center;
    flex-direction: column;
  }
</style>

<div class="container">
  <span>OI, {{name}}</span>

  <br />

  <span>Você solicitou alteração de senha.</span>
  <span>Para realizar a troca, clique no link abaixo:</span>
  <a href={{link}}>{{link}}</a>

  <p>Caso não tenha sido você que solicitou a alteração de senha, basta ignorar este e-mail.</p>

  <p>Obrigado</p>

  <h3>Equipe | <strong>RentX</strong></h3>
</div>